/* set what is and is not viewable on mobile devices */

@media (max-width: 600px){ /*remove from mobile devices*/
    .sidebar{ /*hide sidebar*/
        display: none;
    }
    .aboutme-pic{ /*hide profile pic*/
        display:none;
    }
}

@media (min-width: 600px){ /*remove from desktops, only display on mobile devices*/
    .header{ /*hide header on desktop since sidebar is visible*/
        display: none;
    }
}



body, html {
    background-color: #fffbf7;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.content {
    margin-left: 30%; /* Make space for the sidebar */
    width: 75%;
    padding: 20px;
    padding-right: 75px;
    overflow-y: scroll; /* Enable scrolling */
    height: 100vh; /* Full viewport height for scrolling */
    box-sizing: border-box;
}

section {
    margin-bottom: 50px;
}

/*text level sections*/
h2 {
    margin-top: 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color:darkslateblue;
}

h4 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
}

/*links in body text*/
h4 a{ 
    color:darkslateblue;
    text-decoration:none;
}

h4 a:hover{
    color:darkslateblue;
    text-decoration:underline;
}
/*end text sections*/


/*side bar*/
.sidebar {
    width: 25%;
    background-color: #3a3c43;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.sidebar h1{
    font-size:xx-large;
    font-family:monospace;
    text-align:center;
    color: #D896E1;
    font-weight:bold;
}

.sidebar h2{
    font-size:large;
    font-family:sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight:lighter;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}
/*end that*/


/*header menu for mobile devices*/
.header{
    background-color: #3a3c43;
    padding: 20px;
    position: fixed;
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.header h1{
    font-size:xx-large;
    font-family:monospace;
    text-align:center;
    color: #D896E1;
    font-weight:bold;
}

.header h2{
    text-align: center;
}

/*create style for the links to shift to the right in the sidebar and display a ">" before them when hovered*/
.shift-link{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
    font-size: large;
    transition: padding-left 0.3s ease;
}

.shift-link::before{
    content: ""; /* no > before hovering */
    position: absolute;
    left: -15px;
    transition: content 0.3 ease;
}

.shift-link:hover{
    content: "> "; /*add the >*/
    padding-left: 15px; /* add some spacing */
    color: #BBEFAB;
    text-decoration: underline;
}

.shift-link:hover::before {
    content: "> ";
    padding-left: 10px; /* Adjust this for how much the text shifts */
}
/*done creating that!*/


.aboutme-pic { /* Style for picture on about me page */
    float: right; /* Float image to the right of the page  */
    margin: 20px 20px 20px 20px; /* space around photo */
    height: auto;
    border: 1px black solid;
}

/*website image links grayscale and go into color on hover*/
.website-image-link{
    filter: grayscale(100%);
    transition: filter 0.3 ease;
    margin-right: 20px;
}

.website-image-link:hover{
    filter: grayscale(0%);
}
/*end that*/



/* CV boxes */
.cv-section{
    background-color: #fffbf7;
    border: 2px solid #c1bdbd; 
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(102, 102, 102, 0.1);
}

.cv-section h2{
    font-size:24px;
    color:#D896E1;
    font-weight:bold;
    font-family: monospace;
}

.cv-section h3{
    font-size:18px;
    color:black;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}

.cv-section h4{
    font-size:17px;
    color:black;
    text-decoration:underline;
    font-weight:lighter;
    font-family:monospace
}